<?xml version="1.0" encoding="utf-8"?>
<robot name="amr0_urdf">
  <link name="base_link">
    <inertial>
      <origin xyz="0.400047381220832 0.300053216867418 0.289289301376069" rpy="0 0 0" />
      <mass value="127.168553661297" />
      <inertia ixx="4.71334488384822" ixy="0.00116081743749751" ixz="0.000377386518820758" iyy="7.70604765705077" iyz="0.000513561749165766" izz="10.6589311882582" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/base_link.STL" /></geometry>
      <material name="white"><color rgba="0.9 0.9 0.9 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/base_link.STL" /></geometry>
    </collision>
  </link>

  <link name="left_wheel_Link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/left_wheel_Link.STL" /></geometry>
      <material name="dark_grey"><color rgba="0.3 0.3 0.3 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/left_wheel_Link.STL" /></geometry>
    </collision>
  </link>

  <joint name="left_wheel_joint" type="continuous">
    <origin xyz="0.54 -0.022902 0.48022" rpy="3.0257 1.5708 0" />
    <parent link="base_link" />
    <child link="left_wheel_Link" />
    <axis xyz="1 0 0" />
  </joint>

  <link name="right_wheel_Link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/right_wheel_Link.STL" /></geometry>
      <material name="dark_grey"><color rgba="0.3 0.3 0.3 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/right_wheel_Link.STL" /></geometry>
    </collision>
  </link>

  <joint name="right_wheel_joint" type="continuous">
    <origin xyz="0.54 -0.022902 0" rpy="2.1349 -1.5708 0" />
    <parent link="base_link" />
    <child link="right_wheel_Link" />
    <axis xyz="1 0 0" />
  </joint>

  <link name="caster_left_wheel_Link">
    <inertial>
      <origin xyz="-0.08783 0 0" rpy="0 0 0" />
      <mass value="0.25658" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/caster_left_wheel_Link.STL" /></geometry>
      <material name="dark_grey"><color rgba="0.3 0.3 0.3 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/caster_left_wheel_Link.STL" /></geometry>
    </collision>
  </link>

  <joint name="caster_left_wheel_joint" type="continuous">
    <origin xyz="0.26 -0.022902 0.48022" rpy="1.7632 1.5708 0" />
    <parent link="base_link" />
    <child link="caster_left_wheel_Link" />
    <axis xyz="1 0 0" />
  </joint>

  <link name="caster_right_wheel_Link">
    <inertial>
      <origin xyz="0.031948 0 0" rpy="0 0 0" />
      <mass value="0.25658" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/caster_right_wheel_Link.STL" /></geometry>
      <material name="dark_grey"><color rgba="0.3 0.3 0.3 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="file:///home/mohamed/stage/amr-x/robotics/robot_description/meshes/caster_right_wheel_Link.STL" /></geometry>
    </collision>
  </link>

  <joint name="caster_right_wheel_joint" type="continuous">
    <origin xyz="0.26 -0.022902 0" rpy="1.5764 -1.5708 0" />
    <parent link="base_link" />
    <child link="caster_right_wheel_Link" />
    <axis xyz="1 0 0" />
  </joint>
</robot>
