<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assemblage1.0">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.4 -2.8591764637109E-17 0.0393739014651484"
        rpy="0 0 0" />
      <mass
        value="6.26475478010808" />
      <inertia
        ixx="0.196764685886557"
        ixy="-1.54159996400283E-16"
        ixz="-2.15692047574394E-17"
        iyy="0.451850169569281"
        iyz="-2.64454730538004E-17"
        izz="0.622811798011503" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/mohamed/stage/amr-x/install/robot_description/share/robot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/mohamed/stage/amr-x/install/robot_description/share/robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>